@model SistemaPlanificacion.Models.LogOnViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Cambio de contraseña</h3>
<hr />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @if (ViewBag.msgSeCambioPass != null)
        {
            <div class="alert alert-success" style="text-align:center; font-weight:bold;">
                @ViewBag.msgSeCambioPass
            </div>
        }
        <div class="form-group">
            <label class="control-label col-md-4" style="font-weight:bold;">Usuario</label>
            <div class="col-md-5">
                <input value="@ViewBag.Username" name="UserName" id="UserName" class="form-control" readonly="readonly" required="required" style="font-weight:bold;" />
                @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Ingrese su nueva contraseña</label>
            <div class="col-md-5">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nueva contraseña", autofocus = true })
                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Repita su nueva contraseña</label>
            <div class="col-md-5">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Confirmar contraseña" })
            </div>
        </div>
        <br />
        @Html.ValidationSummary(true)
        <br />
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" value="Cambiar cotraseña" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}